Repository dmalicia/dm-terraform: changes, and which Atlantis projects are due for each by the changed paths.
All: bucket, seed, frontend_amer_nodes, frontend_euro_nodes, frontend_asia_nodes, frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale, monitoring_amer_nodes

atlantis.yaml:

version: 3
automerge: false
projects: 
  - name: bucket
    dir: bucket
    autoplan:
      when_modified: ["../bucket/*.terraform", "*.tf", "*.tfvars"]
  - name: seed
    dir: seed
    autoplan: 
      when_modified: ["../seed/*.terraform", "../seed/bootstrap/*", "*.tf", "*.tfvars"]
  - name: frontend_amer_nodes
    dir: frontend/gcp_nodes
    autoplan:
      when_modified: ["../frontend/gcp_nodes/*.terraform", "../frontend/bootstrap/*", "*.tf", "*.tfvars"]
    workspace: amer
  - name: frontend_euro_nodes
    dir: frontend/gcp_nodes
    autoplan:
      when_modified: ["../frontend/gcp_nodes/*.terraform", "../frontend/bootstrap/*", "*.tf", "*.tfvars"]
    workspace: euro
  - name: frontend_asia_nodes
    dir: frontend/gcp_nodes
    autoplan:
      when_modified: ["../frontend/gcp_nodes/*.terraform", "../frontend/bootstrap/*", "*.tf", "*.tfvars"]
    workspace: asia 
  - name: frontend_amer_autoscale
    dir: frontend/gcp_autoscale
    autoplan:
      when_modified: ["../frontend/gcp_autoscale/*.terraform", "../frontend/bootstrap/*", "*.tf", "*.tfvars"]
    workspace: amer
  - name: frontend_asia_autoscale
    dir: frontend/gcp_autoscale
    autoplan:
      when_modified: ["../frontend/gcp_autoscale/*.terraform", "../frontend/bootstrap/*", "*.tf", "*.tfvars"]
    workspace: asia 
  - name: frontend_ocea_autoscale
    dir: frontend/gcp_autoscale
    autoplan:
      when_modified: ["../frontend/gcp_autoscale/*.terraform", "../frontend/bootstrap/*", "*.tf", "*.tfvars"]
    workspace: ocea 
  - name: frontend_euro_autoscale
    dir: frontend/gcp_autoscale
    autoplan:
      when_modified: ["../frontend/gcp_autoscale/*.terraform", "../frontend/bootstrap/*", "*.tf", "*.tfvars"]
    workspace: euro 
  - name: monitoring_amer_nodes
    dir: monitoring/gcp_nodes
    autoplan:
      when_modified: ["../monitoring/gcp_autoscale/*.terraform", "../monitoring/bootstrap/*", "*.tf", "*.tfvars"]
    workspace: amer

adding monitoring
  monitoring/gcp_nodes/variables.tf
Due: monitoring_amer_nodes

fix
  monitoring/gcp_nodes/variables.tf
Due: monitoring_amer_nodes

moving autoscale to us
  frontend/gcp_autoscale/main.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

moving autoscale to us
  frontend/gcp_autoscale/variables.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

new bootstrap
  frontend/bootstrap/puppet.sh
Due: none

push gcp autoscale
  frontend/gcp_autoscale/variables.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

push origin
  frontend/gcp_autoscale/variables.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

more changes
  frontend/gcp_autoscale/variables.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

Adding variables
  frontend/gcp_autoscale/variables.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

workaround for bootstrap
  frontend/bootstrap/puppet.sh
Due: none

testing frontend
  frontend/gcp_autoscale/variables.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

changing regions
  frontend/gcp_autoscale/variables.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

removing the asg for the night
  frontend/gcp_autoscale/variables.tf
  seed/bootstrap/initdm.sh
Due: seed, frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

start asg
  frontend/gcp_autoscale/variables.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

Adding stuff
  seed/main.tf
Due: seed

new pushes
  frontend/gcp_autoscale/main.tf
  frontend/gcp_autoscale/terraform.tfvars
  frontend/gcp_autoscale/variables.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

2asg
  frontend/gcp_autoscale/variables.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

ns
  frontend/gcp_autoscale/main.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

adding https lb
  README.md
  frontend/gcp_autoscale/main.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

pushing new things
  frontend/gcp_autoscale/variables.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

A few more touches in the autoscale
  frontend/gcp_autoscale/main.tf
  frontend/gcp_autoscale/variables.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

creating backend
  frontend/gcp_autoscale/main.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

last changes in dns
  frontend/gcp_autoscale/main.tf
  frontend/gcp_autoscale/variables.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

adding asg
  frontend/aws_nodes/provider.tf
  frontend/gcp_autoscale/variables.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

asg
  frontend/gcp_autoscale/main.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

removing ocea
  README.md
  frontend/gcp_autoscale/variables.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

more changes
  docs/dmlc.svg
Due: none

more changes
  frontend/gcp_autoscale/main.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

Update README.md
  README.md
Due: none

backend configs
  backend/aws_nodes/provider.tf
  backend/bootstrap/puppet.sh
  backend/gcp_autoscale/main.tf
  backend/gcp_autoscale/provider.tf
  backend/gcp_autoscale/terraform.tfvars
  backend/gcp_autoscale/variables.tf
  backend/gcp_nodes/main.tf
  backend/gcp_nodes/provider.tf
  backend/gcp_nodes/terraform.tfvars
  backend/gcp_nodes/variables.tf
  backend/openstack_autoscale/draft.tf
Due: none

cleanup and organizing folders
  backend/gcp_autoscale/main.tf
  cassandra/bootstrap/puppet.sh
  cassandra/gcp_nodes/main.tf
  cassandra/gcp_nodes/provider.tf
  cassandra/gcp_nodes/terraform.tfvars
  cassandra/gcp_nodes/variables.tf
  frontend/gcp_autoscale/main.tf
  frontend/gcp_autoscale/variables.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

powering us one each
  atlantis.yaml
  backend/gcp_autoscale/variables.tf
  cassandra/gcp_nodes/variables.tf
  frontend/gcp_autoscale/variables.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

typo
  atlantis.yaml
Due: none

one of each
  backend/gcp_autoscale/main.tf
Due: none

remove ocea cass
  atlantis.yaml
Due: none

cleaning all before demo
  backend/gcp_autoscale/variables.tf
  cassandra/gcp_nodes/variables.tf
  frontend/gcp_autoscale/variables.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

preparing demo
  cassandra/gcp_nodes/main.tf
  frontend/gcp_autoscale/variables.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale
