Repository dmalicia/dm-terraform: changes, and which Atlantis projects are due for each by the changed paths.
All: bucket, seed

atlantis.yaml:

version: 3
automerge: false
projects: 
  - name: bucket
    dir: bucket
    autoplan:
      when_modified: ["../bucket/*.terraform", "*.tf", "*.tfvars"]
  - name: seed
    dir: seed
    autoplan: 
      when_modified: ["../seed/*.terraform", "*.tf", "*.tfvars"]

more changes
  frontend/main.tf
  frontend/variables.tf
  seed/bootstrap/initdm.sh
  seed/main.tf
Due: seed

more stuff
  bucket/terraform.tfvars
  frontend/main.tf
  seed/bootstrap/config.yaml
  seed/bootstrap/initdm.sh
  seed/main.tf
Due: bucket, seed

more stuff
  frontend/terraform.tfvars
  seed/terraform.tfvars
Due: seed

more stuff
  frontend/main.tf
Due: none

new pushs for puppet
  frontend/main.tf
  seed/bootstrap/initdm.sh
Due: none

new pushs for puppet
  seed/main.tf
Due: seed

more changes
  seed/bootstrap/initdm.sh
  seed/main.tf
Due: seed

moving ecreds
  seed/bootstrap/ecreds.json.gpg
Due: none

moving ecreds
  seed/main.tf
Due: seed

puppet setup
  seed/main.tf
Due: seed

new changes
  frontend/main.tf
  seed/bootstrap/config.yml
Due: none

new nodes to test puppet
  frontend/bootstrap/puppet.sh
  frontend/main.tf
Due: none

removing
  frontend/main.tf
Due: none

Revert "removing"
  frontend/main.tf
Due: none

Update main.tf
  frontend/main.tf
Due: none

new fixes
  frontend/bootstrap/puppet.sh
  frontend/main.tf
Due: none

new changes
  atlantis.yaml
  frontend/gcp_nodes/main.tf
  frontend/gcp_nodes/provider.tf
  frontend/gcp_nodes/terraform.tfvars
  frontend/gcp_nodes/variables.tf
Due: none

new changes
  atlantis.yaml
  seed/variables.tf
Due: seed

new changes
  atlantis.yaml
Due: none

new changes
  frontend/gcp_nodes/main.tf
Due: none

dm-autoscale prep
  atlantis.yaml
Due: none

adding main
  frontend/gcp_nodes/main.tf
Due: none

fixing small issues
  frontend/gcp_nodes/main.tf
Due: none

Pushing new changes
  frontend/gcp_nodes/main.tf
  frontend/gcp_nodes/variables.tf
Due: none

test
  frontend/gcp_nodes/variables.tf
Due: none

test
  frontend/gcp_nodes/main.tf
Due: none

adding euro single nodes
  atlantis.yaml
Due: none

adding euro single nodes
  frontend/gcp_nodes/main.tf
Due: none

fixing vars
  frontend/gcp_nodes/variables.tf
Due: none

fix
  frontend/gcp_nodes/main.tf
Due: none
