Repository dmalicia/dm-terraform: changes, and which Atlantis projects are due for each by the changed paths.
All: bucket, seed, frontend_amer_nodes, frontend_euro_nodes, frontend_asia_nodes, frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale, backend_amer_autoscale, backend_asia_autoscale, backend_ocea_autoscale, backend_euro_autoscale, monitoring_amer_nodes, cassandra_amer_nodes, cassandra_euro_nodes, cassandra_asia_nodes

bucket:
  dir: bucket

seed:
  dir: seed

frontend_amer_nodes:
  dir: frontend/gcp_nodes
  workspace: amer

frontend_euro_nodes:
  dir: frontend/gcp_nodes
  workspace: euro

frontend_asia_nodes:
  dir: frontend/gcp_nodes
  workspace: asia

frontend_amer_autoscale:
  dir: frontend/gcp_autoscale
  workspace: amer

frontend_asia_autoscale:
  dir: frontend/gcp_autoscale
  workspace: asia

frontend_ocea_autoscale:
  dir: frontend/gcp_autoscale
  workspace: ocea

frontend_euro_autoscale:
  dir: frontend/gcp_autoscale
  workspace: euro

backend_amer_autoscale:
  dir: backend/gcp_autoscale
  workspace: amer

backend_asia_autoscale:
  dir: backend/gcp_autoscale
  workspace: asia

backend_ocea_autoscale:
  dir: backend/gcp_autoscale
  workspace: ocea

backend_euro_autoscale:
  dir: backend/gcp_autoscale
  workspace: euro

monitoring_amer_nodes:
  dir: monitoring/gcp_nodes
  workspace: amer

cassandra_amer_nodes:
  dir: cassandra/gcp_nodes
  workspace: amer

cassandra_euro_nodes:
  dir: cassandra/gcp_nodes
  workspace: euro

cassandra_asia_nodes:
  dir: cassandra/gcp_nodes
  workspace: asia

pushing chgs
  atlantis.yaml
Due: none

testing atlantis final
  frontend/gcp_autoscale/variables.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

Update README.md
  README.md
Due: none

dm-testf2
  atlantis.yaml
Due: none

adding aws test
  frontend/aws_autoscale/main.tf
Due: none

pushing aws test
  frontend/aws_autoscale/main.tf
  frontend/aws_autoscale/variables.tf
Due: none

pushing aws test
  frontend/aws_autoscale/main.tf
Due: none

dm-demo 2 public clouds
  frontend/aws_autoscale/variables.tf
Due: none

clean old test key aws
  frontend/aws_autoscale/provider.tf
Due: none

asg 2 clouds diagram
  docs/asg2clouds.svg
Due: none

Removing old unused files from first setup
  bucket/creds.json
  seed/bootstrap/initdm.sh
Due: seed

patch2
  backend/gcp_autoscale/variables.tf
Due: backend_amer_autoscale, backend_asia_autoscale, backend_ocea_autoscale, backend_euro_autoscale

Update variables.tf
  cassandra/gcp_nodes/variables.tf
Due: cassandra_amer_nodes, cassandra_euro_nodes, cassandra_asia_nodes

Update variables.tf
  frontend/gcp_autoscale/variables.tf
Due: frontend_amer_autoscale, frontend_asia_autoscale, frontend_ocea_autoscale, frontend_euro_autoscale

Adding csgo servers
  csgo/gcp_nodes/main.tf
  csgo/gcp_nodes/provider.tf
  csgo/gcp_nodes/terraform.tfvars
  csgo/gcp_nodes/variables.tf
Due: none

Adding csgo servers
  atlantis.yaml
  csgo/gcp_nodes/main.tf
Due: none

medium
  csgo/gcp_nodes/main.tf
Due: none

50g
  csgo/gcp_nodes/main.tf
Due: none

ip forward
  csgo/gcp_nodes/main.tf
Due: none

Path conditions:
  bucket: any of: bucket/*.terraform, bucket/*.tf, bucket/*.tfvars
  seed: any of: seed/*.terraform, seed/bootstrap/*, seed/*.tf, seed/*.tfvars
  frontend_amer_nodes: any of: frontend/frontend/gcp_nodes/*.terraform, frontend/frontend/bootstrap/*, frontend/gcp_nodes/*.tf, frontend/gcp_nodes/*.tfvars
  frontend_euro_nodes: any of: frontend/frontend/gcp_nodes/*.terraform, frontend/frontend/bootstrap/*, frontend/gcp_nodes/*.tf, frontend/gcp_nodes/*.tfvars
  frontend_asia_nodes: any of: frontend/frontend/gcp_nodes/*.terraform, frontend/frontend/bootstrap/*, frontend/gcp_nodes/*.tf, frontend/gcp_nodes/*.tfvars
  frontend_amer_autoscale: any of: frontend/frontend/gcp_autoscale/*.terraform, frontend/frontend/bootstrap/*, frontend/gcp_autoscale/*.tf, frontend/gcp_autoscale/*.tfvars
  frontend_asia_autoscale: any of: frontend/frontend/gcp_autoscale/*.terraform, frontend/frontend/bootstrap/*, frontend/gcp_autoscale/*.tf, frontend/gcp_autoscale/*.tfvars
  frontend_ocea_autoscale: any of: frontend/frontend/gcp_autoscale/*.terraform, frontend/frontend/bootstrap/*, frontend/gcp_autoscale/*.tf, frontend/gcp_autoscale/*.tfvars
  frontend_euro_autoscale: any of: frontend/frontend/gcp_autoscale/*.terraform, frontend/frontend/bootstrap/*, frontend/gcp_autoscale/*.tf, frontend/gcp_autoscale/*.tfvars
  backend_amer_autoscale: any of: backend/backend/gcp_autoscale/*.terraform, backend/backend/bootstrap/*, backend/gcp_autoscale/*.tf, backend/gcp_autoscale/*.tfvars
  backend_asia_autoscale: any of: backend/backend/gcp_autoscale/*.terraform, backend/backend/bootstrap/*, backend/gcp_autoscale/*.tf, backend/gcp_autoscale/*.tfvars
  backend_ocea_autoscale: any of: backend/backend/gcp_autoscale/*.terraform, backend/backend/bootstrap/*, backend/gcp_autoscale/*.tf, backend/gcp_autoscale/*.tfvars
  backend_euro_autoscale: any of: backend/backend/gcp_autoscale/*.terraform, backend/backend/bootstrap/*, backend/gcp_autoscale/*.tf, backend/gcp_autoscale/*.tfvars
  monitoring_amer_nodes: any of: monitoring/monitoring/gcp_autoscale/*.terraform, monitoring/monitoring/bootstrap/*, monitoring/gcp_nodes/*.tf, monitoring/gcp_nodes/*.tfvars
  cassandra_amer_nodes: any of: cassandra/cassandra/gcp_nodes/*.terraform, cassandra/cassandra/bootstrap/*, cassandra/gcp_nodes/*.tf, cassandra/gcp_nodes/*.tfvars
  cassandra_euro_nodes: any of: cassandra/cassandra/gcp_nodes/*.terraform, cassandra/cassandra/bootstrap/*, cassandra/gcp_nodes/*.tf, cassandra/gcp_nodes/*.tfvars
  cassandra_asia_nodes: any of: cassandra/cassandra/gcp_nodes/*.terraform, cassandra/cassandra/bootstrap/*, cassandra/gcp_nodes/*.tf, cassandra/gcp_nodes/*.tfvars
