Repository dmalicia/dm-terraform: changes, and which Atlantis projects are due for each by the changed paths.
All: seed, bucket

atlantis.yaml:

version: 3
automerge: false
projects: 
  - name: seed
    dir: seed
    apply_requirements: ["approved"]
    autoplan: 
      when_modified: ["../seed/*.terraform", "*.tf", "*.tfvars"]
  - name: bucket
    dir: bucket
    apply_requirements: ["approved"]
    autoplan:
      when_modified: ["../bucket/*.terraform", "*.tf", "*.tfvars"]

g0
  bucket/terraform.tfvars
  seed/main.tf
Due: seed, bucket

g0 3
  atlantis.yaml
  seed/main.tf
Due: seed

new bootstrap
  seed/bootstrap/initdm.sh
  seed/bootstrap/repos.yaml
  seed/main.tf
Due: seed

fixes
  seed/main.tf
Due: seed

dm new pushes
  seed/bootstrap/initdm.sh
  seed/bootstrap/repos.yaml
Due: none

dm new pushes
  seed/bootstrap/repos.yaml
Due: none

fix start
  atlantis.yaml
Due: none

adding bootstrap for atlantis
  seed/bootstrap/initdm.sh
Due: none

adding bootstrap for atlantis
  seed/main.tf
Due: seed

fix
  seed/bootstrap/initdm.sh
  seed/main.tf
Due: seed

new seed
  seed/main.tf
Due: seed

fixes
  atlantis.yaml
Due: none

fixes
  seed/bootstrap/initdm.sh
  seed/main.tf
Due: seed

dm-patch_seed2
  seed/bootstrap/initdm.sh
  seed/main.tf
Due: seed

dm-patch_seed3
  atlantis.yaml
  frontend/bootstrap/initdm.sh
  frontend/bootstrap/repos.yaml
  frontend/creds.json
  frontend/main.tf
  frontend/provider.tf
  frontend/terraform.tfvars
  frontend/variables.tf
Due: none

fixing some minor issues
  frontend/main.tf
  seed/bootstrap/initdm.sh
Due: none

Adding some other stuff
  frontend/bootstrap/initdm.sh
Due: none

chaning name to recreate
  frontend/main.tf
Due: none

puppet bootstrap
  frontend/bootstrap/puppet.sh
  frontend/main.tf
Due: none

fix
  frontend/main.tf
Due: none

add count 2
  frontend/main.tf
Due: none

fixing init
  frontend/bootstrap/initdm.sh
Due: none

Pushing some more stuff
  frontend/creds.json
  frontend/main.tf
  frontend/terraform.tfvars
  seed/bootstrap/initdm.sh
Due: none

dm-patch
  frontend/main.tf
Due: none

new stuff
  seed/bootstrap/initdm.sh
Due: none
